<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
      <title>{{ title }}
      </title>
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dist/index.css">
    <script src="/dist/index.js" defer></script>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
  </head>

  <body>
    <header>
      <details id="headerNavigationDetail">
        <summary class="headerNavBarIcon">☰</summary>
        <nav class="headerNavBar">
          <a href="/">Home</a>
          <a href="/overview">Collection</a>
          <a href="/about_us">About Us</a>
        </nav>
      </details>

      <details class="headerAccessibilityMenu">
        <summary class="headerAccesibilityMenuTitle">Voor&shykeuren</summary>
        <div id="accessibilityBlock">
          <form>
            <fieldset class="animations">
              <legend>Animaties</legend>
              <label class="inputLabel">Aan
                <input type="radio" name="Animaties" value="AAN">
              </label>
              <label class="inputLabel">Uit
                <input type="radio" name="Animaties" value="UIT">
              </label>
              <label class="inputLabel">Rustig
                <input type="radio" name="Animaties" value="RUSTIG">
              </label>
            </fieldset>

            <fieldset class="colorMode">
              <legend>Kleurmodus</legend>
              <label for="auto" class="inputLabel">
                Auto
                <input type="radio" id="auto" name="colorMode" value="auto">
              </label>

              <label for="light" class="inputLabel">
                Licht
                <input type="radio" id="light" name="colorMode" value="light">
              </label>

              <label for="dark" class="inputLabel">
                Donker
                <input type="radio" id="dark" name="colorMode" value="dark">
              </label>
            </fieldset>

            <fieldset class="Lettergrootte">
              <legend>Lettergrootte</legend>
              <label for="fontSlider">
                <span id="fontSizeLabel">0</span>
              </label><br>
              <input type="range" id="fontSlider" min="0" max="10" value="0" name="fontSize">
            </fieldset>
          </form>
        </div>
      </details>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Deze website is ontwikkeld door het lectoraat Responsible IT, van de Hogeschool van Amsterdam.</p>
      <p>© 2023 AIAIAI</p>
      <p>Met dank aan de kunstenaars die hun werk beschikbaar hebben gesteld.</p>
    </footer>

  </body>
<script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
</html>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
