header {

  z-index: 10;
}

#headerNavigationDetail {
  overflow: hidden;

  height: 100%;
}

#headerNavigationDetail::details-content {
  background-color: var(--colorHighlightWhite);
  
  height: 100%;
  width: 0;
  transition: 
    width 0.5s,
    content-visibility 1s; 
  transition-behavior: allow-discrete;
}

#headerNavigationDetail[open]::details-content {
  width: auto;
}

.headerNavBarIcon {
  background-color: var(--colorHighlightWhite);
  
  position: relative;
  padding: 1rem;
  margin: 0;

  
  list-style: none;
  cursor: pointer;
  
  font-size: 2em;
  z-index: 20;
}

.headerNavBarIcon::before {
  display: inline-block;
  border-bottom: 1px solid black;
  background-color: var(--colorLavenderSheen);
}

.headerNavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  margin-left: 2em;
  padding: 2em;
}

header a {
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em;
}

.artList {
  padding-top: 4em;
}

