{% layout "base.liquid" %}

{% block content %}

<main class="aboutUs">

  <div id="gradient" class="gradient-bg"></div>
  <div id="backgroundTexture"></div>

  <div class="titleContainer">
  <h1> About us</h1>
</div>

  <article>
    <div>
  <h2>About  <span>AI AI AI </span></h2>
  <p>Welkom op AI AI AI, een plek waar technologie en creativiteit samenkomen. Wij geloven dat kunst toegankelijk, inspirerend en interactief moet zijn. Daarom combineren we de kracht van kunstmatige intelligentie met speelse oefeningen die je op een nieuwe manier naar kunst laten kijken.
Ons team bestaat uit makers, ontwikkelaars en ontwerpers met een passie voor innovatie. Elk kunstwerk op deze site is gegenereerd met behulp van geavanceerde AI-modellen en zorgvuldig geselecteerd op artistieke waarde. De oefeningen nodigen je uit om op een andere manier naar kunst te kijken. Ze laten je ervaren hoe AI niet alleen technisch, maar ook creatief en persoonlijk kan zijn, voor iedereen, ongeacht je ervaring of achtergrond.
  </p>
  </div>
</article>

  <article>
  <div>
  <h2>High quality code</h2>
  <p>De technische basis van het project is mede mogelijk gemaakt dankzij de bijdrage van Sanne, die ons voorzien heeft van een voor gescreven code document. Deze structuur heeft ons op weg geholpen om hierop code conventions te bouwen en gelijke richtlijnen aan te houden. Dankzij de consistente opzet met goed georganiseerde componenten, duidelijke naamgeving en logisch opgebouwde bestanden was het voor ons team eenvoudig om daarop voort te bouwen. Bovendien sluit zijn code aan bij moderne best practices, met oog voor toegankelijkheid, performance en onderhoudbaarheid. De basis die hij heeft gelegd is niet alleen technisch uitstekend, maar ook schaalbaar, wat zeer belangrijk is voor dit project aangezien het zal blijven groeien en evolueren. Sanne’s werk heeft daarmee direct bijgedragen aan de kwaliteit en betrouwbaarheid van de uiteindelijke applicatie.
  </p>
  <br>
   <p>De website is gebouwd volgens moderne webstandaarden. Daarbij is toegankelijkheid een belangrijk uitgangspunt geweest: de site laadt snel, werkt soepel op zowel desktop als mobiel, en is goed bruikbaar voor iedereen, ook voor mensen met een visuele beperking. We maken hierbij gebruik van het lettertype Atkinson Hyperlegible, een dyslexievriendelijk font dat speciaal is ontworpen voor optimale leesbaarheid. Interactieve elementen, zoals de pop-ups bij de oefeningen, zijn ontworpen om intuïtief te werken op verschillende schermformaten. Testen, code reviews en heldere documentatie zijn standaard onderdeel van het ontwikkelproces, zo zorgen we ervoor dat alles niet alleen werkt, maar ook toekomstbestendig is.

  </p>
  </div>
</article>








</main>
<script src="server/scripts/detailPage.js"></script>
{% endblock %}