{% layout "base.liquid" %}

{% block content %}

<main class="aboutUs">

  <div id="gradient" class="gradient-bg"></div>
  <div id="backgroundTexture"></div>

  <div class="titleContainer">
  <h1> About us</h1>
</div>

  <article>
  <h2>About Us</h2>
  <p>Welkom op onze AI-kunstwebsite – een plek waar technologie en creativiteit samenkomen. Wij geloven dat kunst
    toegankelijk, inspirerend en interactief moet zijn. Daarom combineren we de kracht van kunstmatige intelligentie met
    speelse oefeningen die je op een nieuwe manier naar kunst laten kijken.
    <br>
    Ons team bestaat uit makers, ontwikkelaars en ontwerpers met een passie voor innovatie. Elk kunstwerk op deze site
    is gegenereerd met behulp van geavanceerde AI-modellen en zorgvuldig geselecteerd op artistieke waarde en
    verrassing. De oefeningen zijn ontworpen om je blik te verruimen – of je nu kunstkenner bent of gewoon nieuwsgierig.
  </p>
</article>

  <article>
  <h2>About Us</h2>
  <p>Welkom op onze AI-kunstwebsite – een plek waar technologie en creativiteit samenkomen. Wij geloven dat kunst
    toegankelijk, inspirerend en interactief moet zijn. Daarom combineren we de kracht van kunstmatige intelligentie met
    speelse oefeningen die je op een nieuwe manier naar kunst laten kijken.
    <br>
    Ons team bestaat uit makers, ontwikkelaars en ontwerpers met een passie voor innovatie. Elk kunstwerk op deze site
    is gegenereerd met behulp van geavanceerde AI-modellen en zorgvuldig geselecteerd op artistieke waarde en
    verrassing. De oefeningen zijn ontworpen om je blik te verruimen – of je nu kunstkenner bent of gewoon nieuwsgierig.
  </p>
</article>








</main>
<script src="server/scripts/detailPage.js"></script>
{% endblock %}