{% layout "base.liquid" %}

{% block content %}

    <main class="favorites">

    <h2>Favorieten</h2>
  

    </main>

    <footer>

    </footer>
</body>

        <script src="/server/scripts/getArt.js"></script>
{% endblock %}