{% layout "base.liquid" %}


{% block content %}

  <main class="homePageMain">

    <div id="gradient" class="gradientBackground"></div>
    <div id="backgroundTexture"></div>
    
    <section class="homePageTitle">
        <div class="homePageTitleText">
          <h1>AI</h1>
          <h1>AI</h1>
          <h1>AI</h1>
        </div>
        <p>Where creative minds can showcase their AI generated Art and develop a deeper
          understanding for Artificial Intelligence
        </p>
      </div>
    </section>
  
    <section class="homePageArtShowcase">
      <img url="">
      <img url="">
      <img url="">
    </section>

    <section class="homePageInfoSection">
      <h3>Wat is AIAIAI?</h3>
      <p>Een plek te spelen knutselen en valen met AI. Een gids van kunstenaars die gebruik maken van AI technologie.
        Het bevat een overzicht van AI artiesten en hun kunstwerken. Ook is er een verzameling van oefeningen beschikbaar om uit te proberen
        die helpen een beter begrip voor de technologie te ontwikkelen. 
        Deze pagina is ontwikkeld door het lectoraat Responsible IT, van de Hogeschool van Amsterdam.</p>
    </section>

    <section class="homePageSiteUitleg">
      <ul class="homePageSiteUitlegList">
        <li>
          <h4>Ontdekken</h4>
          <p>Bekijk een collectie van kunstwerken gemaakt met AI door verschillende kunstenaars 
          en laat je inspireren naar de mogelijkheden van AI kunst.
          </p>
          <a href="/overview">Bekijk de collectie</a>
        </li>
        <li>
          <h4>Oefenen</h4>
          <p>Ontdek bij de verschillende kunstwerken de bijpassende oefeningen 
          en gebruik deze om je begrip en skills op het gebied van AI generated art te verbeteren 
          en om verschillende soorten kunst te beheersen.</p>
        </li>
        <li>
          <h4>Printen</h4>
          <p>Print de kunst en oefeningen om uit te delen en te oefenen met anderen.</p>
        </li>
      </ul>
    </section>
  </main>

</body>

{% endblock %}

