{% layout "base.liquid" %}


{% block content %}

  <main class="index">

    <div id="gradient" class="gradient-bg"></div>
    <div id="texture"></div>
    
    <section>
      <div class="intro">
        <div class="introName">
          <h1>AI</h1>
          <h1>AI</h1>
          <h1>AI</h1>
        </div>
        <p>
          Where creative minds can showcase their AI generated Art and develop a deeper
          understanding for Artificial Intelligence
        </p>
      </div>
    </section>
    <section>
      <div class="aboutDiv">
      <h2>What is AIAIAI?</h2>
      <p></p>
      </div>
    </section>
  </main>

  <footer>
    
  </footer>
</body>

{% endblock %}

