{% layout "base.liquid" %}


{% block content %}

  <main class="index">

    <div id="gradient" class="gradientBackground"></div>
    <div id="backgroundbackgroundTexture"></div>
    
    <section class="homePageTitle">
        <div class="homePageTitleText">
          <h1>AI</h1>
          <h1>AI</h1>
          <h1>AI</h1>
        </div>
        <p>Where creative minds can showcase their AI generated Art and develop a deeper
          understanding for Artificial Intelligence
        </p>
      </div>
    </section>
    <section class="homePageInfoSection">
      <div class="homePageInfo">
      <h2>Wat is AIAIAI?</h2>
      <p>Een plek te spelen knutselen en valen met AI. Een gids van kunstenaars die gebruik maken van AI technologie.
        Het bevat een overzicht van AI artiesten en hun kunstwerken. Ook is er een verzameling van oefeningen beschikbaar om uit te proberen
        die helpen een beter begrip voor de technologie te ontwikkelen. 
        Deze pagina is ontwikkeld door het lectoraat Responsible IT, van de Hogeschool van Amsterdam.</p>
    </section>
  </main>

  <footer>
    
  </footer>
</body>

{% endblock %}

