{% layout "base.liquid" %}


{% block content %}

  <main class="index">

    <div id="gradient" class="gradientBackground"></div>
    <div id="backgroundTexture"></div>
    
    <section class="homePageTitle">
        <div class="homePageTitleText">
          <h1>AI</h1>
          <h1>AI</h1>
          <h1>AI</h1>
        </div>
        <p>Where creative minds can showcase their AI generated Art and develop a deeper
          understanding for Artificial Intelligence
        </p>
      </div>
    </section>
    <section class="homePageInfoSection">
      <div class="homePageInfo">
      <h2>Wat is AIAIAI?</h2>
      <p>Een plek te spelen knutselen en valen met AI. Een gids van kunstenaars die gebruik maken van AI technologie.
        Het bevat een overzicht van AI artiesten en hun kunstwerken. Ook is er een verzameling van oefeningen beschikbaar om uit te proberen
        die helpen een beter begrip voor de technologie te ontwikkelen. 
        Deze pagina is ontwikkeld door het lectoraat Responsible IT, van de Hogeschool van Amsterdam.</p>
    </section>

    <section class="homePageSiteUitleg">
      <ul class="homePageSiteUitlegList">
        <li>
          <h3>Ontdekken</h3>
          <p>Bekijk een collectie van kunstwerken gemaakt met AI door verschillende kunstenaars en laat je inspireren naar de mogelijkheden van 
            AI kunst.
          </p>
          <a href="/overview"></a>
        </li>
        <li>
          <h3>Oefenen</h3>
          <p>Ontdek bij de verschillende kunstwerken de bijpassende oefeningen, om je begrip en je skills in AI art generation te verbeteren.</p>
        </li>
        <li>
          <h3>Printen</h3>
          <p>Print en deel de kunstwerken en oefeningen</p>
        </li>
      </ul>
    </section>
  </main>

  <footer>
    
  </footer>
</body>

{% endblock %}

