{% layout "base.liquid" %}

{% block content %}

    <main>
    <div id="gradient" class="gradient-bg"></div>
    <div id="backgroundTexture"></div>

    <section class="overviewFilterSelects">
        <select id="sortDropdown" class="sortDropdown">
            <option value="artist-asc">Artiest A-Z</option>
            <option value="artist-desc">Artiest Z-A</option>
            <option value="artwork-asc">Kunstwerk A-Z</option>
            <option value="artwork-desc">Kunstwerk Z-A</option>
          </select> 
          
          <select id="filterDropdown" class="sortDropdown">
            <option value="all">Alle media</option>
            <option value="image">Beeld (foto's)</option>
            <option value="sound">Geluid</option>
            <option value="text">Text</option>
          </select>

          <div class="overviewLayoutSwitch">
            <label class="layoutRadioLabel">Thumbnail
                <input class="viewRadios" type="radio" id="thumbnail" name="viewRadios" value="thumbnail" checked="true">
            </label>
            <label class="layoutRadioLabel">List
                <input class="viewRadios" type="radio" id="list" name="viewRadios" value="list">
            </label>
          </div>
    </section>

        <section>
            <ul class="artList">

            </ul>
        </section>

    </main>

</body>

        <script src="/server/scripts/getAllArt.js"></script>
{% endblock %}