* {
  interpolate-size: allow-keywords;
}

.headerAccessibilityMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;
  bottom: 2em;
  right: 0;

  background-color: var(--colorHighlightWhite);
  border: 1px solid white;

  border-radius: 1em;
  margin: 2em;
  padding: 0.5em;

  z-index: 20;
}

.headerAccessibilityMenu::details-content {
  position: absolute;
  bottom: 100%; 
  right: 0;

  margin: 0.5em 0;

  background-color: var(--colorHighlightWhite);
  border-radius: 0.5em;
  overflow: hidden;

  width: 12rem;
  block-size: 0;
  content-visibility: hidden;

  transition:
    block-size 0.5s ease,
    content-visibility 0.6s;
  transition-behavior: allow-discrete;
}

.headerAccessibilityMenu[open]::details-content {
    padding: 1em;
    block-size: auto; 
    content-visibility: visible;
}

fieldset {
    border: 0;
    border-bottom: 1px solid black;
    margin: 0.5em 0;
    padding: 0.3em 0;
}

.headerAccesibilityMenuTitle {
    list-style: none;
    cursor: pointer;
    display: list-item;

    font-size: 1em;
    font-weight: 300;
}

.headerAccesibilityMenuTitle::before {
    display: inline-block;

    content: "▶";
    margin: .2em;
    	

    transition: transform 1s ease;
    transform-origin: center;
    transform: rotate(90deg);
}

.headerAccessibilityMenu[open] .headerAccesibilityMenuTitle::before {
    transform: rotate(270deg);
}

legend {
    font-weight: 700;
    font-size: 1em;

    margin: 0.2em 0;
}





/* SLIDER */

    .slider-container {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }