.headerAccessibilityMenu {
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 2em;
    padding: 1em;

    background-color: var(--colorHighlightWhite);
    border-radius: 1em;

    z-index: 20;
}

fieldset {
    border: 0;
    border-bottom: 1px solid var(--colorHighlightWhite);
    margin: 0.5em 0;
    padding: 0.3em 0;
}

.headerAccesibilityMenuTitle {
    list-style: none;
    cursor: pointer;
    display: list-item;

    font-size: 1.5em;
    font-weight: 300;
}

.headerAccesibilityMenuTitle::before {
    display: inline-block;

    content: "▶";
    margin: .2em;
    	

    transition: transform 1s ease;
    transform-origin: center;
    transform: rotate(90deg);
}

.headerAccessibilityMenu[open] .headerAccesibilityMenuTitle::before {
    transform: rotate(270deg);
}

legend {
    font-weight: 700;
    font-size: 1em;

    margin: 0.2em 0;
}

#accessibilityBlock {
    display: flex;

    position: absolute;
    bottom: 3em;
    right: 0;

    width: 15rem;

    background-color: var(--colorPearlBlue);
    border: 1px solid var(--colorPearlBlue);
    border-radius: 1em;

    padding: 1rem;
    margin: 1.5em 0;

    z-index: 2;
}




/* SLIDER */

    .slider-container {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }