.artList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    padding-top: 1em;
}

.artistCard {
    width: 400px;

    padding: 20px;

    transition-duration: .3s;

    color: white;
}

.artistCard:hover {
    transform: translateY(-10px);
}

.artistCard img {
    width: 100%;
    height: 300px;

    object-fit: cover;
    margin: 0;
}

.artistCard h2 {
    border-top: 5px solid black;
    margin-bottom: 2px;
    font-size: 2em;
}

.artistCard h3 {
    margin: 0;
}

.artistCard p {
    margin: 0;
    color: var(--colorHotPink);
    color: black;
}

:root[data-view="list"] .artistCard {
    width: 100%;
    padding: 2px;

}

:root[data-view="list"] a {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

:root[data-view="list"] .artistCard img {
    width: 22vw;
    height: 22vw;

    border-right: 5px solid black;;
    object-fit: cover;
    padding: 5px;
}

:root[data-view="list"] .artistCard h2 {
    border-top: none;

    padding: 5px;
}

:root[data-view="list"] .artistCard h3 {
    padding: 5px;
}

:root[data-view="list"] .artistCard p {
    padding: 5px;
}

