.artList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.artistCard {
    width: 400px;

    padding: 20px;

    background-color: var(s);

    transition-duration: .3s;

    color: white;
}

.artistCard:hover {
    transform: translateY(-10px);
}

.artistCard img {
    width: 100%;
    height: 300px;
    
    object-fit: cover;
    margin: 0;
}

.artistCard h2 {
    border-top: 5px solid black;
    margin-bottom: 2px;
    font-size: 2em;
}

.artistCard h3 {
    margin: 0;
}

.artistCard p {
    margin: 0;
    color: var(--colorHotPink);
    color: black;
}