:root {
    --colorPearlPink: rgb(255, 149, 179);
    --colorPearlBlue: rgb(139, 221, 253);
    --colorLavenderSheen: rgb(185, 157, 252);
    --colorSoftMint: rgb(141, 244, 227);
    --colorHighlightWhite: rgba(255, 255, 255, 1);
    --colorAccesibilityBlock: rgb(230, 225, 225);
    --colorGlowShadow: rgb(177, 140, 216);
    --colorBackgroundBlue: rgb(175, 177, 185);

    * {
        color: rgb(59, 58, 58);
    }
}

:root[data-color-scheme="dark"] {
    --colorPearlPink: rgb(213, 117, 141);  
    --colorPearlBlue: rgba(72, 125, 147, 1);      
    --colorLavenderSheen: rgba(115, 100, 143, 1);  
    --colorSoftMint: rgba(85, 148, 138, 1);        
    --colorHighlightWhite: rgb(133, 164, 175);
    --colorAccesibilityBlock: rgba(150, 150, 170, 1);
    --colorGlowShadow: rgba(92, 78, 108, 0.6);
    --backgroundDark: #1a1a1d;
    --surfaceDark: #2a2a2e;
    --colorBackgroundBlue: rgb(53, 65, 126);
  
  * {
    color: white;
  }
}

* {
    interpolate-size: allow-keywords;
}

section>h1 {
    font-size: 15rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    margin-top: 0;
    line-height: .7;
    letter-spacing: -1.5vw;
}

section>p {
    background-color: transparent;
    color: black;

}

div > h2{
    font-weight: 700;
}

body {
    display: flex;

    width: 100%;

    margin: 0;
    padding: 0;

    background: radial-gradient( ellipse at center,
    var(--colorPearlPink) 0%,
    var(--colorPearlBlue) 25%,
    var(--colorLavenderSheen) 50%,
    var(--colorSoftMint) 75%,
    var(--colorHighlightWhite) 90%,
    var(--colorGlowShadow) 100%
);
}

main {
    grid-column: 2/2;
    height: 100vh;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--colorHighlightWhite);
}



/* BASE ITEMS */

p {
    max-width: 80%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}




/* LABEL */

label {
    padding-right: 0.3em;
}

.inputLabel {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/* INPUT */
input {
    /* appearance: none; */
    border: 1px solid black;
}

input:checked {
    background-color: black;
}

/* BUTTON STYLING */

button {
    display: flex;
    justify-content: center;    
    align-items: center;

    width: 8em;

    padding: 0.5em 1em;
    margin-bottom: 0.5em;

    background-color: white;
    border-radius: 1em;
}

.buttonStyle {
    font-weight: bold;
}




/* RADIO STYLING */

input[type="radio"] {
    border-radius: 50%;
    width: 1em;                         

    padding: .5em;
    margin-left: .2ems;
}




/* CHECKBOX */

input[type="checkbox"] {
    border-radius: 50%;
    width: 1em;   
    height: 1em;                      

    margin: 0;
    margin-left: .3em;
}

/* SORT DROPDOWN */
.overviewFilterSelects {
    display: flex;
    position: fixed;

    width: 100%;

    padding: 0.3em 5em;

    z-index: 10;
}

.sortDropdown {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: .7em;
    padding: .5em;
    background-color: var(--colorHighlightWhite);

    border-radius: 2dvh;
    font-size: 0.9em;
}

option {
    background-color: var(--colorHighlightWhite);
}

.sortDropdown,
::picker(select) {
  appearance: base-select;
}

.sortDropdown::picker-icon {
  color: #999;
  transition: 0.4s rotate;
}

.sortDropdown:open::picker-icon {
  rotate: 180deg;
}




/* MOBILE VIEW */


