  
  body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #333;
    min-height: 100vh;
  }
  
  /* Container voor afbeelding + beschrijving naast elkaar */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 6vw;
    margin-bottom: 1vw;
    align-items: start;
  }
  
  
  /* Afbeelding */
  .hoofdKunstwerk {
    width: 35%;
    object-fit: cover;
    max-width: 100%;
  }

  .kunstwerk {
    width: 100%;
    min-width: 100%;
  }
  
  /* Tekst opmaak */

  p {
    font-size: 1.5rem;
    background-color: var(--colorTurquoiseWave);
    padding: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .geenAchtergrond {
    background-color: transparent;
  }

  .naamKunst {
    font-family: 'Atkinson Hyperlegible Bold Italic', sans-serif;
    font-size: 15rem;
    color: black;
    margin-bottom: 0.5rem;
    line-height: .7;
    letter-spacing: -1.5vw;
  }
  
  .naamKunstenaar {
    font-size: 2.5rem;
    color: var(--colorSunsetOrange);  
    margin-top: 5rem;
  }
  
  .beschrijving {
    font-size: 1.1rem;
    line-height: 1.8;
    border-radius: 12px;
    color: #222;
    flex: 1;
  }
  
  /* Mobiele weergave */
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .kunstwerk {
      width: 80%;
    }
  
    h2.naamKunst {
      font-size: 2rem;
      text-align: center;
    }
  
    .beschrijving {
      padding: 1rem;
    }
  }
  