.homePageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  padding:0 1em;
  margin-bottom: 4em;
  padding-top: 5em;
}


.homePageTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  padding: 1em;

  background-color: var(--colorPearlBlue) 0.5;
}

.homePageInfoSection {
  display: flex;
  justify-content: center;
}

.homePageInfo {
  display: flex;
  flex-direction: column;

  background-color: var(--colorAccesibilityBlock);
  border-radius: 1em;
  padding: 1em;

  width: 80%;

}

.homePageInfo h2 {
    margin-bottom: 1em;
}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  min-height: 100%;
  z-index: -1;

  background-color: var(--colorBackgroundBlue);
  background-image:
    radial-gradient(at calc(var(--currentX, 0.5) * 30%) calc(var(--currentY, 0.5) * 80%), var(--colorPearlPink) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 100%) calc(var(--currentY, 0.5) * 50%), var(--colorPearlBlue) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 50%) calc(var(--currentY, 0.5) * 16.66%), var(--colorLavenderSheen) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 100%) calc(var(--currentY, 0.5) * 70%), var(--colorSoftMint) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 66.66%) calc(var(--currentY, 0.5) * 50%), var(--colorHighlightWhite) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 50%) calc(var(--currentY, 0.5) * 160%), var(--colorAccesibilityBlock) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 0%) calc(var(--currentY, 0.5) * 100%), var(--colorGlowShadow) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 50%) calc(var(--currentY, 0.5) * 200%), var(--colorGlowShadow) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, -6) * 20%) calc(var(--currentY, 0.5) * 180%), var(--colorGlowShadow) 0px, transparent 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: color;
}

#backgroundTexture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;

  background: url(images/grain_texture.png);

  /* filter: contrast(250%) brightness(250%); */
  opacity: .2;
  background-size: '';
  background-repeat: repeat;
  background-attachment: scroll;
  ;
  background-blend-mode: color;
}

h1 {
  font-size: 15rem;
  font-weight: bold;

  margin-bottom: 0.5rem;
  margin-top: 0;
  margin: .2em;

  line-height: .7;
  letter-spacing: -1.5vw;
}


.homePageTitleText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 1em;
}

.homePageTitleText :nth-child(1) {
  display: flex;
  align-self: start;
  transform: rotate(8deg) scale(1);
  transition: transform 0.5s ease-in-out;
}

.homePageTitleText :nth-child(2) {
  margin: 0 auto;
  transform: rotate(-8deg) scale(1);
  transition: transform 0.5s ease-in-out;
}

.homePageTitleText :nth-child(3) {
  display: flex;
  align-self: end;
  transform: rotate(8deg) scale(1);
  transition: transform 0.5s ease-in-out;
  top: -1em;
}

.homePageTitleText:hover :nth-child(1) {
  transform: scale(1.2);
}

.homePageTitleText:hover :nth-child(2) {
  transform: scale(1.2);
}

.homePageTitleText:hover :nth-child(3) {
  transform: scale(1.2);
}

