#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  min-height: 100%;
  z-index: -1;

  background-color: var(--colorBackgroundBlue);
  background-image:
    radial-gradient(at calc(var(--currentX, 0.5) * 30%) calc(var(--currentY, 0.5) * 80%), var(--colorPearlPink) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 100%) calc(var(--currentY, 0.5) * 50%), var(--colorPearlBlue) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 50%) calc(var(--currentY, 0.5) * 16.66%), var(--colorLavenderSheen) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 100%) calc(var(--currentY, 0.5) * 70%), var(--colorSoftMint) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 66.66%) calc(var(--currentY, 0.5) * 50%), var(--colorHighlightWhite) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 50%) calc(var(--currentY, 0.5) * 160%), var(--colorAccesibilityBlock) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 0%) calc(var(--currentY, 0.5) * 100%), var(--colorGlowShadow) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, 0.5) * 50%) calc(var(--currentY, 0.5) * 200%), var(--colorGlowShadow) 0px, transparent 50%),
    radial-gradient(at calc(var(--currentX, -6) * 20%) calc(var(--currentY, 0.5) * 180%), var(--colorGlowShadow) 0px, transparent 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: color;
}

#backgroundTexture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;

  background: url(images/grain_texture.png);

  /* filter: contrast(250%) brightness(250%); */
  opacity: .2;
  background-size: '';
  background-repeat: repeat;
  background-attachment: scroll;
  ;
  background-blend-mode: color;
}
