.homePageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  padding:0 1em;
  margin-bottom: 4em;
  padding-top: 5em;
}


.homePageTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  padding: 1em;

  background-color: var(--colorPearlBlue) 0.5;
}

.homePageInfoSection {
  display: flex;
  justify-content: center;

  margin-bottom: 2em;
}

.homePageInfo {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--colorHighlightWhite);
  border-radius: 1em;
  padding: 1em;

  width: 80%;
}

.homePageInfo h2 {
    margin-bottom: 1em;
}

h1 {
  font-size: 15rem;
  font-weight: bold;

  margin-bottom: 0.5rem;
  margin-top: 0;
  margin: .2em;

  line-height: .7;
  letter-spacing: -1.5vw;
}


.homePageTitleText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 1em;
}

.homePageTitleText :nth-child(1) {
  display: flex;
  align-self: start;
  transform: rotate(8deg) scale(1);
  transition: transform 0.5s ease-in-out;
}

.homePageTitleText :nth-child(2) {
  margin: 0 auto;
  transform: rotate(-8deg) scale(1);
  transition: transform 0.5s ease-in-out;
}

.homePageTitleText :nth-child(3) {
  display: flex;
  align-self: end;
  transform: rotate(8deg) scale(1);
  transition: transform 0.5s ease-in-out;
  top: -1em;
}

.homePageTitleText:hover :nth-child(1) {
  transform: scale(1.2);
}

.homePageTitleText:hover :nth-child(2) {
  transform: scale(1.2);
}

.homePageTitleText:hover :nth-child(3) {
  transform: scale(1.2);
}

/* SITE UITLEG */

.homePageSiteUitlegList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.homePageSiteUitlegList li {
    width: 12em;

    padding: 1em;
    border: 1px solid var(--colorHighlightWhite);
    border-radius: 1em;
}