@page {
  size: A4 landscape;
  margin: 0;
  padding: 0;
}

/* Hide elements that shouldn't be printed */
header,
footer,
nav,
button,
.printBtn,
.oefeningSectie,
.tweedeContainer,
.imageContainerMainArt,
a,
h2,
#gradient,
#texture {
  display: none;
}

.topSectie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2cm;
}

/* Dashed line in the middle */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 50vw;
  width: 0;
  height: 100vh;
  border-left: 1px dashed #999;
  z-index: 9999;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 50vw;
  width: 0;
  height: 100vh;
  border-left: 1px dashed #999;
  z-index: 9999;
}




html,
body,
main,
.content,
.detailPage {
  overflow: visible;
  height: auto;
  max-height: none;
}

body {
  background: white;
  color: black;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 12pt;
  line-height: .5;
}

.artTitle,
.artist,
.artImage,
.description,
.artDescription,
p {
  display: block;
  visibility: visible;
}

h1,
p,
img {
  page-break-inside: avoid;
}


.artTitle {
  font-size: 60pt;
  line-height: 1;
  print-color-adjust: exact;
  color: white;
  letter-spacing: normal;
  text-align: left;
  position: absolute;
  left: 4%;
  bottom: 12%;
  width: 30%;
  text-shadow: 2pt 2pt  black;
}

.artist {
  font-size: 30pt;
  color: black;
  text-align: left;

  position: absolute;
  left: 4%;
  bottom: 5%;
  width: 30%;
  text-shadow: 2pt 2pt  white;
}

.description {
  text-align: left;
}

.artImage {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
}

p {
  font-size: 10pt;
  margin: 0;
  color: black;
  line-height: 1.4;


  position: absolute;
  left: 55%;
  top: 5%;
  width: 30%;
  z-index: 100;
}

