@page {
  size: A4 landscape;
  margin: 0;
  padding: 0;
}

html, body,main {
  width: 297mm;
  height: 210mm;
  overflow: hidden;
  position: relative;
}

/* Hide elements that shouldn't be printed */
header,
footer,
nav,
button,
.open-btn,
.printBtn,
.threeImageContainer,
.artImageE1spot,
.artImageE2spot,
.artImageE3spot
.textcontainer:nth-of-type(2),
a,
#gradient,
#texture,
.artSection > .textcontainer > h2
{
  display: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 50vw;
  width: 0;
  height: 100vh;
  border-left: 1px dashed #999;
  z-index: 9999;
}
 
html,
body,
main,
.content,
.detailPage {
  overflow: visible;
  height: auto;
  max-height: none;
}

.artSection > .textcontainer > p{
  color: black;
  position: absolute;
  left: 148.5mm;
  top: -17cm;
  width: 148.5mm;
  height: 0mm;
  padding: 1.5cm;
  box-sizing: border-box;
  z-index: 100;
}

.artSection{
  border-top: none;
}

.artTitle {
  font-size: 60pt;
  line-height: 1;
  print-color-adjust: exact;
  color: white;
  letter-spacing: normal;
  text-align: left;
  position: absolute;
  left: 4%;
  bottom: 12%;
  width: 30%;
  text-shadow: 2pt 2pt  black;
}

.artist {
  font-size: 30pt;
  color: black;
  text-align: left;

  position: absolute;
  left: 4%;
  bottom: 5%;
  width: 30%;
}

.artImage{
  position: absolute;
  left: 0;
  top: 0;
  width: 148.5mm;
  height: 210mm;
  object-fit: cover;
  border-radius: 0;
}