details {
    grid-area: 3 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

fieldset {
    border: 0;
    margin: 0.2em 0;;
}

summary {
    list-style: none;
    cursor: pointer;
    display: list-item;

    font-size: 1.5em;
    font-weight: 300;
}

summary::before {
    content: "▶";
    transition: transform 1s ease;
    margin-right: 0.5em;
    display: inline-block;
}

details[open] summary::before {
    transform: rotate(180deg);
}

legend {
    font-weight: 700;
    font-size: 1em;
}

#voorkeurBlock {
    display: flex;

    position:absolute;
    bottom: 0;

    background-color: white;
    border: 1px solid var(--colorPearlBlue);
    border-radius: 1em;

    padding: 1rem;
    margin: 1em;

    z-index: 2;
}




/* SLIDER */

 body {
      transition: font-size 0.2s ease;
    }

    .slider-container {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }