:root {
    --colorHotPink: rgba(255, 31, 158, 1);
    --colorCyanSplash: rgba(36, 227, 252, 1);
    --colorLimePop: rgba(158, 252, 41, 1);
    --colorTurquoiseWave: rgba(0, 224, 179, 1);
    --colorNeonYellow: rgba(255, 242, 0, 1);
    --colorGlowLime: rgba(158, 252, 41, 1);
    --colorElectricPurple: rgba(180, 0, 255, 1);
    --colorSkyGlow: rgba(135, 255, 255, 1);
    --colorSunsetOrange: rgba(255, 94, 77, 1);
    --colorMintFlash: rgba(128, 255, 212, 1);
    --colorBubbleBlue: rgba(0, 153, 255, 1);
    --colorLaserGreen: rgba(102, 255, 102, 1);
    --colorPlasmaRose: rgba(255, 102, 204, 1);
  }
  

body {
    width: 100%;
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin: 0;
    padding: 0;
}

main {
    grid-column: 2/2;
    height: 100vh;
    overflow: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
  display: flex;
  justify-content: space-evenly;
  
  background-color: white;
  width: 100%;
  margin: 0;
  
  color: black;
  z-index: 400;
}

footer {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.artList {
    display: flex;
    flex-wrap: wrap;

}