:root {
--colorPearlPink: rgb(252, 181, 201);
--colorPearlBlue: rgb(167, 227, 251);
--colorLavenderSheen: rgba(213, 199, 247, 1);
--colorSoftMint: rgba(191, 244, 235, 1);
--colorHighlightWhite: rgba(255, 255, 255, 1);
--colorGlowShadow: rgba(198, 181, 216, 1);
} 

body {
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  
  background-color: white;
  width: 100%;
  margin: 0;
  
  color: black;
  z-index: 400;
}

main {
  padding-top: 5em;
}

footer {
    display: flex;
}