* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  
  body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #333;
    min-height: 100vh;
  }
  
  /* Container voor afbeelding + beschrijving naast elkaar */
  .container {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 1vw;
   
  }
  
  /* Afbeelding */
  .hoofdKunstwerk {
    width: 35%;
    object-fit: cover;
  
  }

  .kunstwerk {
    width: 100%;
    min-width: 100%;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color:var(--colorSunsetOrange);
  }
  


  /* Tekst opmaak */

  .textSectie {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1000px;
  
  }

  .textSectie p {
    font-size: 1.2rem;
    /* background-color: var(--colorTurquoiseWave); */
   
  }

  .textSectie a {
    background-color: pink;
    padding: 1em;
    border-radius: 2em;
    width: fit-content;
  }

  .geenAchtergrond {
    background-color: transparent;
  }

  .naamKunst {
    font-family: 'Atkinson Hyperlegible Bold Italic', sans-serif;
    font-size: 15vw;
    color: black;
    margin-bottom: 0.5rem;
    line-height: .7;
    letter-spacing: -1.5vw;

  }
  
  .naamKunstenaar {
    font-size: 4vw;
    color: var(--colorSunsetOrange);  
    margin-top: 5rem;
  }
  
  .beschrijving {
    font-size: 1.1rem;
    line-height: 1.8;
    border-radius: 12px;
    color: #222;
    flex: 1;
    width: 65%;
  }
  
  /* Mobiele weergave */
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .kunstwerk {
      width: 80%;
    }
  
    h2.naamKunst {
      font-size: 2rem;
      text-align: center;
    }
  
    .beschrijving {
      padding: 1rem;
    }
  }
  

  