section {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  padding:0 1em;
  margin-bottom: 4em;
  padding-top: 5em;
}

.aboutDiv {
  display: flex;

  font-size: 2vw;
}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;


  min-height: 100%;
  z-index: -1;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#texture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;

  background: url(/images/grain_texture.jpg);
  /* filter: contrast(250%) brightness(250%); */
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1 {
  font-size: 15rem;
    color: white;
    margin-bottom: 0.5rem;
    margin-top: 0;
    line-height: .7;
    letter-spacing: -1.5vw;
}

p {
  background-color: none;
}
