header:hover {
    --p: 100%;
}

header ul {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;

    padding: 25px;
    overflow: hidden;
    background-color: var(--colorSkyGlow);
}

header ul::after {

    position: absolute;
    content: '';
    top: var(--y);
    left: var(--x);
    border-radius: 50%;

    height: 0;
    width: 0;
    background-color: var(--randomColor);

    transform: translate(-50%, -50%);

    transition: 0.5s ease-out, left 0s, top 0s;
}

header ul:hover:after {
    height: 2000px;
    width: 2000px;
}

header li {
    transition: .4s, background-position 0s;
    z-index: 1;
}


header li:hover {
    color: #fff;
}

header a {
    font-size: 2em;
    font-weight: 700;
}

.circle {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
}