:root {
    --colorPearlPink: rgba(246, 197, 211, 1);
    --colorPearlBlue: rgba(174, 226, 247, 1);
    --colorLavenderSheen: rgba(213, 199, 247, 1);
    --colorSoftMint: rgba(191, 244, 235, 1);
    --colorHighlightWhite: rgba(255, 255, 255, 1);
    --colorGlowShadow: rgba(198, 181, 216, 1);
  }
  