.scrollImages {
    height: 100vh;
    width: 100vw;
    background-color: rgb(149, 166, 166);
    display: flex;
    position: relative;
}


/* image scroll */
#imgScrollContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 490px;
    height: 500px;
    z-index: 99;
    opacity: 0;
    background-color: rgb(21, 118, 118);
    display: flex;
    overflow: hidden;
  }

  .scroll-items {
    display: flex;
    transform: translateX(calc(-100% + 500px));
  
  }

  
  #imgScrollContainer img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0; /* zorg dat ze niet kleiner worden bij flex */
  }



  /* text scroll */
/* .textItem:nth-of-type(1) {
    background-color: rgb(47, 47, 179);
}

.textItem:nth-of-type(2) {
    background-color: rgb(227, 158, 154);
}

.textItem:nth-of-type(3) {
    background-color: rgb(199, 241, 198);
}

.textItem:nth-of-type(4) {
    background-color: rgb(229, 115, 214);
} */

#textScrollContainer {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 150px;
    z-index: 999;
    display: flex;
    overflow: hidden;
    opacity: 0;


}


.textItems {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* background-color: aliceblue; */
    gap: 20px;
}

.textItem {
    display: flex;
    flex-direction: column;
     gap: 25px;
    
}

.textItem a {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: fit-content;
}


.textItem h2 {   
    font-size: 40px;
    color: #fff;
    margin: 0;
    line-height: 0.8;

}

.textItem p { 
    margin: 0;
    color: #fff;
}
  

/* achtergrond scroll */
#scrollContainer {
    width: fit-content;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    background-color: blue;

}

.content img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content:nth-of-type(1) {
    background-color: aqua;
}

.content:nth-of-type(2) {
    background-color: rgb(122, 33, 28);
}

.content:nth-of-type(3) {
    background-color: aqua;
}

.content:nth-of-type(4) {
    background-color: rgb(255, 0, 221);
}

.hero {
    height: 100vh;
    width: 100vw;
}




